:root {
  --light-green: #dfedd6;
  --dark-green: #cbe8ba;
  --blue: #006ce5;
  /*--light-grey: #f7f6f6  ;*/
  --grey: #aaaaaa;
  --black: #000000;


  --background-color: #505a61;
  --light-beige: #e0c9b5;
  --light-grey: #f3f4ef;
  --beige: #ecbc94;
  --dark-grey: #8c8e8f;
  --grey-purple: #aca4ac;

  --title-font: 26px;

}


* {
  margin: 0;
  padding: 0;
  font-family: Helvetica sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;

}
body{
  background-color: var(--background-color);
}


